.container {
  background-color: #171a1d;
  height: 100%;
  padding: 1rem 0;
}

.containTitle{
  box-shadow: 0 0 10px #04b604;
  outline: 2px solid #008000;
  border-radius: .5rem;
  width: 90%;
  margin: 1.5rem auto;
  padding: .5rem 2rem;
}

.titlePrincipal{
  color: #fff;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  text-shadow: -4px 4px 0 #008000;
  margin-bottom: 1.5rem;
}

.text{
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 5px #04b604;
  background-color: #000;
  width: 20rem;
  height: auto;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  outline: 2px solid #014401;
}

.cardTitle {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.info {
  background-color: #014401;
  color: #fff;
  outline: 2px solid #04b604;
  width: 10rem;
  height: auto;
  padding: .5rem;
  margin: .5rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 10px #04b604;

}

.icon {
  font-size: 2rem;
}

.infoTitle{
  font-size: 2rem;
}

.titleTable {
  font-size: 1.9rem;
  color: #fff;
  text-align: center;
  margin: 1rem auto 1rem;
  padding-top: 1rem;
  width: 35rem;
  border-bottom: 2px solid #008000;
}

.programsContainer{
  outline: 2px solid #014401;
  box-shadow: 0 0 10px #04b604;
  margin: auto;
  width: 95%;
}

.programs{
  background-color: #171a1d !important;
}