.content{
  background-color: #000;
  font-size: 4rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  outline: 3px solid green;
  position: sticky;
  top: 32rem;
  left: 95%;
  z-index: 99;
  margin: 1rem 0;
}

.content:hover{
  opacity: .8;
  scale: 1.05;

}

.content:active{
  scale: .85;
}