.all {
  position: relative;
  background-color: black;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: black;
  margin: 0 auto .5rem;
}