
.crsl {
    display: flex;
    background-color: black;
    padding: 1rem;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
}

.prevIcon, .nextIcon{
    height: 20px;
    width: 20px ;
    font-size: 24px;
    background: transparent;
    border: 2px solid transparent;
    color: #ffffff;
}