.detailHeader {
    position: relative;
    height: 95vh; 
    overflow: hidden;
    z-index: 1;
  }

  img {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    margin-right: 20px; /* Agrega un margen a la derecha para separar la imagen de la información */
  }
  
  .info {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
  }

  .poster {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  