.program-detail-container {
    display: flex;
    flex-direction: column;
  }
  
.backdrop-container {
    position: relative;
    height: 25vh; 
    overflow: hidden;
}
  
.backdrop-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
  
/* .program-info {
   
}
   */