.allNavbar {
  background-color: #202020b9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 102;
}

.background {
  background-color: #202020b9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.contRight {
  display: flex;
  flex-direction: row;
}

.logo {
  align-items: center;
  color: #19d576;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  font-size: 2.7em;
  transition: all 0.25s;
}

.logo:hover {
  color: #288858;
}

.logo h1 {
  margin-top: 9px;
}

.contMid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.types {
  border-radius: 5px;
  border: none;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  transition: all 0.3s;
  margin-left: .3rem;
}

.types:hover {
  background-color: #464646;
}

.typesP {
  border-radius: 5px;
  border: 2px solid;
  padding: 4px;
  font-size: 1rem;
  cursor: context-menu;
  color: #19d576;
  background: transparent;
  transition: all 0.25s;
  margin-left: .3rem;
}

.contLeft {
  display: flex;
  flex-direction: row;
}

.sesion {
  border-radius: 5px;
  padding: 6px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  transition: all 0.25s;
  margin: 0 1rem;
}

.sesion:hover {
  background-color: rgb(70, 70, 70);
}

.searchButton {
  margin: 0 1rem;
  border: 0;
  font-size: 16px;
  color: #000000;
  font-family: Arial;
  border-radius: 7px;
  background:  #19d576;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  transition: all 0.25s;
}

.searchButton:hover {
  background: #288858;
}

.searchComponent {
  width: 40%;
  height: auto;
  margin-top: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #272727e0;
}

.cartas {
  color:  #19d576;
  height: 78vh;
  width: 100%;
  display: flex;
  overflow-y: scroll;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.searchContainer {
  color:  #19d576;
  width: 100%;
  overflow: hidden;
  max-height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.searchBackWindow {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: -1; 
  backdrop-filter: blur(10px);
}

.message {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(0, 0, 0);
}

.cartas::-webkit-scrollbar {
  width: 7px;
}

.cartas::-webkit-scrollbar-thumb {
  background:  #19d576;
}

.user{
  display: flex;
  margin: 0 1rem;
  gap: .5rem;
}

.avatarUser{
  outline: 2px solid #ffffff;
  border-radius: 50%;
  padding: .2rem;
  cursor: pointer;
}

.avatarUser:hover{
  scale: 1.1;
}

.avatarUser:active{
  scale: .9;
}

.avatarUserImg{
  height: 2rem;
  border-radius: 50%;
}