.section {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.txt {
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  font-size: 3rem;
  font-weight: 600;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 75vh;
  width: 80%;
  margin: auto;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  padding-left: 4rem;
}

.card {
  box-sizing: border-box;
  width: 190px;
  height: 270px;
  background: rgb(217, 217, 217);
  border: 1px solid rgb(105, 105, 105);
  box-shadow: 12px 17px 51px rgba(208, 1, 187, 0.51);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: rgb(105, 0, 108);
}

.card {
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: 2px solid rgb(0, 255, 38);
  transform: scale(1.05);
  box-shadow: 12px 17px 51px rgb(2, 125, 20);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.img {
  display: flex;
  background-color: black;
  border-radius: 3rem;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  contain: content;
  background: url('../../assets/user.jpg');
  background-size: cover;
}

#img1{
    background: url('../../assets/jaider.jpg');
    background-size: cover;
}

#img2{
    background: url('../../assets/sofi.jpg');
    background-size: cover;
}

#img3{
    background: url('../../assets/gabriela.jpg');
    background-size: cover;
    
}

#img4{
    background: url('../../assets/danna.jpg');
    background-size: cover;
}

h1{
    font-size: 1.5rem;
}

h2 {
  font-weight: 100;
  font-size: 1rem;
}

.list{
    align-items: center;
    border: 2ps solid blue;
    margin-left:-1.8rem;
}

.list ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.list ul li{
    font-size: 2rem;
}

.list a {
  color: rgb(107, 0, 128);
}

.list a:hover{
  color: green;
}
@media screen and (max-width: 768px) {
  .section {
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow-y: scroll; /* Agrega scroll vertical */
    contain: content;
  }
  
  .txt {
    font-size: 2rem;
    margin: 1rem auto;
    text-align: center; /* Alinea el texto al centro en pantallas pequeñas */
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    padding-left: 0;
  }

  .card {
    width: 150px;
    height: 220px;
    font-size: 1rem;
  }

  .img{
    display: none;
  }
}

