.footer {
  display: flex;
  position: sticky;
  background: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0.01px;
  width: 100%;
  z-index: 1000;
}

.link {
  margin: 10px;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  background: transparent;
  transition: all 0.25s;
}

.link:hover {
  background-color: rgb(70, 70, 70);
}
