.background {
  height: 100vh;
  background-image: url('https://i.ibb.co/PhcQXyq/background.jpg'); /* Ruta a la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btnHome {
  position: relative;
  z-index: 1000;
}

.form {
  backdrop-filter: blur(3px);
  background-color: #49484847;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 70% 20%;
}

.title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0.6rem auto;
  font-size: 3.5rem;
  color: #ffffff;
  text-shadow: -4px 4px 7px #000;
  letter-spacing: 5px;
}

.section {
  position: absolute;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12rem;
  margin-top: 6rem;
  width: 70%;
  height: 26.5rem;
}

.avatarUser {
  background-color: #000;
  border-radius: 50%;
  outline: 2px solid #fff;
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenesContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avatarUserImg {
  height: 6rem;
}

.formUser {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  gap: 2rem;
}

.label {
  font-size: 1.1rem;
  color: #fff;
}

.span {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.2rem;
}

.input {
  height: 2rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  background: white;
  letter-spacing: 1.5px;
  box-shadow: -2px 2px 7px#000000a6;
}

.containBtn {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0.5rem;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}

.checkbox {
  margin-left: 0.5rem;
}

.policy p {
  margin: 0.5rem;
  font-size: 0.8rem;
}

.btn {
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 0.3rem;
  color: #353535;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #fff;
  letter-spacing: 3px;
  box-shadow: -2px 2px 5px #000000a6;
}

.btn:hover {
  opacity: 0.8;
}

.sectionAvatar {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 80%;
  height: 100%;
  margin: 1rem 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.titleAvatar {
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.avatarContainer {
  background-color: #000;
  border-radius: 50%;
  outline: 2px solid #fff;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.avatarContainer:hover {
  scale: 1.1;
}

.avatarImg {
  height: 4rem;
  width: auto;
}

.Error {
  position: absolute;
  font-weight: 600;
  color: #ff0000;
  backdrop-filter: blur(3px);
  background-color: #ffffff47;
  padding: 0 .5rem;
  border-radius: .5rem;
}

.Error:nth-child(2) {
  top: 4.2rem;
}

.Error:nth-child(4) {
  top: 10rem;
}

.Error:nth-child(6) {
  top: 15.8rem;
}

.Error:nth-child(8) {
  top: 21.6rem;
}

.Error:nth-child(10) {
  top: 27.5rem;
}