.background {
    background-color: #131212;
}

.backGen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #131212;
    width: 100%;
    height: auto;
    color: white;
    z-index: 2000;
}

.genres {
    border-radius: 5px;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 1rem;
    transition: all 0.25s;
}

.selected {
    background-color: green;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 1rem;
    transition: all 0.25s;
}
.genres:hover {
    background-color: rgb(70, 70, 70);
}

.backPlt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0);
    width: 100%;
    color: white;
    z-index: 100;
    padding: 0.25rem 5vw;
    padding-top: 20px;
}

.selectPlt {
    background: transparent;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px; 
    padding: 5px; 
    margin: 5px;
}

.icon{
    background: transparent;
    border: 0px;
    color: white;
}

