.background {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.backGen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #131212;
    width: 100%;
    height: auto;
    color: white;
    z-index: 2000;
}

.filters {
    border-radius: 5px;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: .3rem .5rem;
    transition: all 0.25s;
    cursor: pointer;
    white-space: nowrap;
}

.filters:hover {
    background-color: rgb(0, 58, 0);
}

.selected {
    background-color: rgb(0, 58, 0);
    border-radius: 5px;
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: .3rem .5rem;
    transition: all 0.25s;
    cursor: pointer;
    white-space: nowrap;
}

.selected:hover{
    color: rgb(255, 255, 255);
    background-color: green;
}

.backPlt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: rgba(0, 0, 0);
    width: 100%;
    color: white;
    z-index: 100;
    padding: 0.25rem 5vw;
    padding-top: 20px;
}

.selectPlt {
    background: transparent;
    border: 2px solid transparent;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px; 
    padding: 5px; 
    margin: 5px;
}

.icon{
    background: transparent;
    border: 0px;
    color: white;
}

.filtersContainer {
    display: flex;
    width:fit-content;
    padding: 20%;
    background-color: black;
    padding: 1rem;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
}

.filtersContainer::-webkit-scrollbar {
    height: 1.5vh;
}

.filtersContainer::-webkit-scrollbar-thumb{
    background:green;
}