.container {
    position: relative;
    height: 75%;
    z-index: 1;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.5;
    z-index: -1;
}

.portrait {
    display: flex;
    flex-direction: row;
    padding: 10vh;
}

.divCard {
    flex: 1;
    display: flex;
    justify-content: center;
}

.divCard img{
    width: 200px;
    height: 300px;
    border-radius: 15px;
}

.info {
    flex: 2;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.info p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.genres {
    display: flex;
    flex-direction: row;
}

.genres p{
    padding: 10px;
}